@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #222;
}

p {
    font-size: 16px;
}

h1 {
    display: inline;
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}

a[href] {
    color: #8354b8;
}

a[href]:hover {
    color: #603d87;
}

img {
    max-width: 100%;
}

li {
    line-height: 1.5em;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
    transition-duration: 0.4s;
    background-color: #8354b8;
    border-color: #8354b8;
}

.btn-primary:hover {
    background-color: #603d87;
    border-color: #603d87;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;

}

.dropdown-menu {
    background-color: #777;
}

/*.dropdown a {
    color: #aaa;
}*/

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
    background-color: #403347;
}

.ui-autocomplete {
    z-index: 5000;
}

.userImg {
    border-radius: 50%;
}

.textOnDark {
    color: #aaa;
}

/* Medium devices (tablets, 768px and up)
   - necessary for keeping cards the same height 
     when accounting for long user titles*/
@media (min-width: 768px) {
    .card {
        height: 450px;
        overflow-y: auto;
    }

    #customFooter {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    .scroll {
        margin: 4px, 4px;
        padding: 4px;
        height: 85vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.75em;
        font-size: 16px;
        background-color: #222;
        /*color: #aaa;*/
    }
}

/* Small devices (tablets, 768px and below)*/
@media (max-width: 767.98px) {
    #customFooter {
        position: block;
    }

    .scroll {}
}
